@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?hfwz71');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?hfwz71#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?hfwz71') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?hfwz71') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?hfwz71##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_close {
  &:before {
    content: $icon_close; 
  }
}
.icon_burger {
  &:before {
    content: $icon_burger; 
  }
}
.icon_arrow_top {
  &:before {
    content: $icon_arrow_top; 
  }
}
.icon_arrow_bottom {
  &:before {
    content: $icon_arrow_bottom; 
  }
}
.icon_arrow_right {
  &:before {
    content: $icon_arrow_right; 
  }
}
.icon_arrow_left {
  &:before {
    content: $icon_arrow_left; 
  }
}
.icon_arrow_bottom_sm {
  &:before {
    content: $icon_arrow_bottom_sm; 
  }
}
.icon_arrow_top_sm {
  &:before {
    content: $icon_arrow_top_sm; 
  }
}
.icon_loup {
  &:before {
    content: $icon_loup; 
  }
}
.icon_bell {
  &:before {
    content: $icon_bell; 
  }
}
.icon_edit {
  &:before {
    content: $icon_edit; 
  }
}
.icon_upload {
  &:before {
    content: $icon_upload; 
  }
}
.icon_mark {
  &:before {
    content: $icon_mark; 
  }
}
.icon_phone {
  &:before {
    content: $icon_phone; 
  }
}
.icon_email {
  &:before {
    content: $icon_email; 
  }
}
.icon_location {
  &:before {
    content: $icon_location; 
  }
}
.icon_man {
  &:before {
    content: $icon_man; 
  }
}
.icon_eyes {
  &:before {
    content: $icon_eyes; 
  }
}
.icon_twitter {
  &:before {
    content: $icon_twitter; 
  }
}
.icon_facebook {
  &:before {
    content: $icon_facebook; 
  }
}
.icon_instagram {
  &:before {
    content: $icon_instagram; 
  }
}
.icon_polygon {
  &:before {
    content: $icon_polygon; 
  }
}

