$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon_close: "\e914";
$icon_burger: "\e915";
$icon_arrow_top: "\e903";
$icon_arrow_bottom: "\e904";
$icon_arrow_right: "\e90d";
$icon_arrow_left: "\e90e";
$icon_arrow_bottom_sm: "\e90a";
$icon_arrow_top_sm: "\e90b";
$icon_loup: "\e90f";
$icon_bell: "\e910";
$icon_edit: "\e911";
$icon_upload: "\e912";
$icon_mark: "\e913";
$icon_phone: "\e900";
$icon_email: "\e901";
$icon_location: "\e902";
$icon_man: "\e905";
$icon_eyes: "\e906";
$icon_twitter: "\e907";
$icon_facebook: "\e908";
$icon_instagram: "\e909";
$icon_polygon: "\e90c";
$icon_pause: "\e916";

