//- begin aside item
.aside__item
    .account
        .account__head
            .account__img.img
                img(src="../../img/account.jpg", alt="alt")
            .account__info
                .account__name Aleksandra Holodnaya
                .account__edit
                    i.icon_edit
                    a(href="#") Edit Profile


        nav.account__nav
            ul.menu
                li.menu-item.current-menu-item
                    a(href="#") My information
                li.menu-item
                    a(href="#") Payment History
                li.menu-item
                    a(href="#") Notifications
                li.menu-item
                    a(href="#") Log out

//- end aside item    
