.notice
    .notice__list
        each item in ['', '', '', '']

            .notice__item
                .notice__content
                    .notice__title Construction of 3 houses for our students
                    span In "Ayg" Armenological and Esoteric School-Center, we have started the construction of tree houses 
                .notice__btn
                    a.btn.btn_sm.btn_reverse(href="#")
                        span Read answer
