.content {
    position: relative;

    .section__title {
        margin-bottom: 1.5em;
        @media (min-width: 768px) {
            margin-bottom: 2.875em;

        }
    }

    .breadcrumbs {
        position: absolute;
        top: 0;
        left: 1.75em;
        @media (min-width: 768px) {
            position: initial;
            top: auto;
            left: auto;
            padding: 1em 0 1.625em;
        }
    }
    padding-top: 3em;
    @media (min-width: 768px) {
        padding-top: 4.375em;
    }

    &__wrap {
        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__aside {
        @media (min-width: 768px) {
            width: 25.9375em;
            margin-right: 13.125em;
        }
    }

    &__main {
        margin-top: 2em;
        @media (min-width: 768px) {
            margin-top: 0;
            flex-grow: 1;
        }
    }

}

// START myInformation
.myInformation {

    @media (min-width: 768px) {
        width: 32em;
    }

    &__photo {
        display: flex;
        align-items: center;
        font-size: 0.75em;
        @media (min-width: 768px) {
            font-size: 1em;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        width: 7.5em;
        height: 7.5em;
        border-radius: 100%;
        background: #F2EEE8;
        border: 0.125em solid $color_info;
        margin-right: 1.5em;
        @media (min-width: 768px) {
            margin-right: 2.375em;
            width: 8.625em;
            height: 8.625em;
        }

        i {
            color: $btn_color;
            font-size: 2.375em;
        }
    }

    &__upload {
        > * {
            display: block;
            color: #6D665E;
        }

        span {
            font-size: 1em;
            margin-bottom: 1.25em;
        }

        a {
            position: relative;
            font-size: 0.875em;
            text-decoration: none;
            width: fit-content;

            &:before {
                display: inline-block;
                content: '\e912';
                font-family: $icon_font_famaly;
                font-size: 0.875em;
                margin-right: 1em;
                transform: translateY(0.3em);
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 6em;
                border-bottom: 0.0625em solid;

            }
        }
    }

    &__form {
        @media (min-width: 768px) {
            margin-top: 0.5em;
        }
    }

}
// END myInformation

// START paymentHistory
.paymentHistory {
    @media (min-width: 768px) {
        width: 59.625em;
    }

    &__item {
        background: #F2EEE8;
        border: 0.0625em solid #D1CAC2;
        border-radius: 1.25em;
        padding: 1.5em 1em;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            padding: 2.5em 2.75em 3.125em;
            margin-bottom: 1.25em;
            display: flex;
            align-items: stretch;

        }
    }

    &__col {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100%;
        }

        &:nth-child(1) {
            @media (min-width: 768px) {
                padding-right: 4.375em;
                flex-grow: 1;
            }

            span {
                display: inline-block;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0.572em 0.81em;
                width: fit-content;
                line-height: 1;
                color: $btn_color;

                background: #FAF6F0;
                border: 0.125em solid $btn_color;
                border-radius: 7.125em;

                font-size: 0.625em;
                margin-bottom: 0.75em;
                @media (min-width: 768px) {
                    font-size: 0.875em;
                    margin-bottom: 1.43em;
                }
            }

            p {
                margin: 0;
                color: $color_info;
                font-size: 1em;
                @media (min-width: 768px) {
                    font-size: 1.5em;
                    width: 14.917em;
                }
            }
        }

        &:nth-child(2) {
            padding: 1em 0;
            @media (min-width: 768px) {
                padding: 0;
                width: 28%;
                align-items: center;
            }

            span {
                display: inline-block;
                font-family: $second_font_family;
                letter-spacing: -0.02em;
                color: $color_info;
                padding-top: 0.25em;

                font-size: 1.25em;
                @media (min-width: 768px) {
                    font-size: 1.5em;

                }

            }
        }

        &:nth-child(3) {

            @media (max-width: 767px) {
                .btn {
                    width: 100%;
                }
            }
            @media (min-width: 768px) {
                width: 30%;
                align-items: flex-end;
            }

        }

        @media (min-width: 768px) {
            border-right: 0.0625em solid #C6BDB3;

            &:last-child {
                border-right: 0;
            }
        }
    }
}
// END paymentHistory

// START notice
.notice {
    @media (min-width: 768px) {
        width: 59.625em;
    }

    &__list {}

    &__item {

        background: #F2EEE8;
        border: 0.0625em solid #D1CAC2;
        border-radius: 1.25em;

        padding: 1.5em 1em;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            padding: 2.5em 2.75em;
            margin-bottom: 1.25em;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
    }

    &__content {
        @media (min-width: 768px) {
            width: 29em;
        }

        span {
            display: inline-block;
            margin-top: 0.75em;
            font-size: 0.875em;
            @media (min-width: 768px) {
                font-size: 1em;

            }
        }
    }

    &__title {
        font-size: 1em;
        color: $btn_color;
        @media (min-width: 768px) {
            font-size: 1.5em;

        }
    }

    &__btn {
        .btn {
            width: 100%;
        }

        margin-top: 0.625em;
        @media (min-width: 768px) {
            margin-top: 0;
        }

    }
}
// END notice
