.faq {
    &__head {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__question {
        font-size: 1.125em;
        font-weight: 700;
        text-transform: uppercase;
        color: $btn_color;
        text-decoration: none;

        @media (max-width: 767px) {
            display: block;
            margin: 2.25em auto 0;
            width: fit-content;
        }

        &:after {
            content: '\e90d';
            font-family: $icon_font_famaly;
            font-size: 0.875em;
            margin-left: 1em;
            font-weight: bold;

        }
    }

    &__show {
        margin-top: 2.75em;
        text-align: center;

        a {
            font-size: 1.125em;
            font-weight: 700;
            text-transform: uppercase;
            color: #ACA092;
            text-decoration: none;

            &.loading {}
        }

    }

    &__grid {
        margin-top: 2.5em;

        @media (min-width: 768px) {
            margin-top: 5em;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-auto-rows: minmax(11.25em, auto);
            grid-column-gap: 3.25em;
        }
    }

    &__item {
        border-bottom: 0.125em solid $btn_color;

        &:first-child {
            border-top: 0.125em solid $btn_color;
        }

        padding: 1.625em 0;

        @media (min-width: 768px) {
            padding: 2.1875em 1em 2.1875em 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;

            &:nth-child(-n + 3) {
                border-top: 0.125em solid $btn_color;
            }
        }

    }

    &__img {
        width: 5.75em;
        height: 5.75em;
        border-radius: 0.625em;
        overflow: hidden;
        margin: 0.875em 0 0 auto;

        @media (min-width: 768px) {
            margin: 0;
            flex: none;
            width: 6.25em;
            height: 6.25em;

        }
    }

    &__content {
        @media (min-width: 768px) {
            width: 23.375em;
        }
    }

    &__title {
        letter-spacing: -0.02em;
        font-size: 1.5em;
        line-height: 1;
        color: $color_info;

        @media (min-width: 768px) {
            min-height: 2em;
        }
    }

    &__excerpt {
        margin-top: 1em;

        p {
            margin: 0;
            font-size: 0.875em;
            @media (min-width: 768px) {
                line-height: 1.4;
                font-size: 1em;
            }
        }
    }

}
