.firstscreen {
    .swiper_nav {
        i {
            &.swiper-button-disabled {

                color: rgba($btn_color, 0.1);
                cursor: not-allowed;

            }
        }
    }

    .section__title {
        color: $btn_color;
    }

    padding-top: 0;
    padding-bottom: 0.3125em;
    @media (min-width: 768px) {
        padding-bottom: 0.625em;

    }

    &__wrap {
        @media (min-width: 768px) {
            position: relative;
            padding: 1.25em;
            min-height: 55em;
        }
    }

    &__img {
        width: 100%;
        height: 30.625em;
        margin-top: -17em;

        @media (min-width: 768px) {
            margin-top: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
    }

    &__content {
        position: relative;
        z-index: 1;

        background-color: #F0ECE3;
        padding: 2.25em 2em;
        text-align: center;

        @media (min-width: 768px) {
            background-color: $color_primary;
            padding: 3.5em 3.5em 5em;
            text-align: left;

            display: flex;
            justify-content: space-between;

        }
    }

    &__left {
        @media (min-width: 768px) {
            width: 46em;
        }
    }

    &__right {
        @media (min-width: 768px) {
            width: 50.625em;
            display: flex;
            justify-content: space-between;
        }
    }

    &__text {
        margin-bottom: 2em;

        @media (min-width: 768px) {
            margin-bottom: 0;
            width: 23.125em;
        }

        p {
            line-height: 1.4;
            color: #534D47;
            font-size: 0.875em;
            margin: 1.5em 0 2em;
            @media (min-width: 768px) {
                font-size: 1em;
                margin: 0 0 1.25em;
            }
        }
    }

    &__slider {
        flex: none;
        width: 21.55em;
        overflow: hidden;

        font-size: 0.83em;
        margin-left: -1.875em;
        @media (min-width: 768px) {
            width: 24.5625em;
            font-size: 1em;
        }

        .swiper {
            margin: 0 0 0 0.5em;
            overflow: visible;
            width: 19em;
            @media (min-width: 768px) {
                margin: 0 0 0 0.75em;
                width: 21.5625em;

            }
        }

        .swiper_nav {
            width: 8.875em;
            margin: 1.6em auto 0;

            @media (min-width: 768px) {
                margin: 3.125em auto 0;

            }
        }

        .swiper-slide {
            opacity: 0;
            transition: 0.3s;

            &.show {
                opacity: 1;
            }
        }

    }

    &__circle {
        width: 5.75em;
        height: 5.75em;
    }

}
