.library {
    padding-bottom: 0.625em;

    .swiper_arrow {
        width: 6.5em;

        @media (min-width: 768px) {
            width: 9.125em;

        }

        i {
            background-color: rgba(#F2EEE8, 0.3);
            color: $color_info;
            border: 0.0625em solid #46264B;

            &:hover {
                background-color: rgba(#F2EEE8, 1);
                color: $color_info;
            }
        }
    }

    &__wrap {
        background-color: $color_bg_info;

        border: 0.1875em solid $btn_color;
        padding: 1.25em 0.625em 2.75em;
        @media (min-width: 768px) {
            padding: 7.5em 4.75em;

        }
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__slider {
        margin-top: 1.625em;
        width: 32.375em;

        @media (min-width: 768px) {
            margin-top: 3.375em;
            width: 119.5em;

        }

        // .swiper-slide {
        //     height: 100%;
        // }

        .library__item {
            // padding: 1.25em 1.25em 2.75em;
            padding: 1.25em 1em 2.75em;
            min-height: 27em;
            // height: 100%;

            @media (min-width: 768px) {
                padding: 2.5em 4em 2.5em 3.375em;
                min-height: 27.5em;
            }
        }

        .video {
            display: flex;
            align-items: center;
        }

        .library__item_video {
            .info {
                margin-left: -1em;
                @media (min-width: 768px) {
                    margin-left: 0;
                }
            }
        }

    }

    &__grid {

        margin-top: 1.5em;
        @media (min-width: 768px) {
            margin-top: 3.625em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: minmax(36.375em, auto);
            grid-gap: 1.25em;

        }

        .library__item {
            padding: 1em;
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
            @media (min-width: 768px) {
                margin-bottom: 0;
                padding: 2.75em;
            }
        }

        .video {
            position: relative;
            width: 100%;
            padding-bottom: 8em;
            @media (min-width: 768px) {
                padding-bottom: 16.25em;

            }

            &__wrap {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 1.25em;
                overflow: hidden;

            }

            &__play {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background: #F2EEE8;
        border: 0.125em solid $color_info;
    }

    &__top {
        padding-bottom: 1em;
    }

    &__cat {
        span {
            display: inline-block;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 7.125em;
            color: $color_bg_primary;
            background-color: $btn_color;

            font-size: 0.75em;
            padding: 0.42em 0.913em;
            @media (min-width: 768px) {
                font-size: 0.875em;
                padding: 0.65em 0.913em;

            }
        }
    }

    &__main {

        padding-bottom: 1em;
    }

    &__caption {
        .library__cat {
            margin-top: 0.75em;
        }

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;

            .library__cat {
                margin-top: 0;
            }

            .library__title {
                width: 10.125em;
            }
        }
    }

    &__title {
        display: block;
        letter-spacing: -0.02em;
        line-height: 1.1;

        color: $color_info;
        text-decoration: none;

        font-size: 1.5em;
        @media (min-width: 768px) {
            font-size: 2em;

        }
    }

    &__excerpt {
        margin-top: 1em;

        p {
            line-height: 1.334;
            margin: 0 0 1em;
            text-align: justify;

            font-size: 0.875em;
            @media (min-width: 768px) {
                font-size: 1em;
            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-size: 1em;
                font-weight: 700;
                color: $color_info;
                text-transform: uppercase;
            }

        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        @media (min-width: 768px) {
            gap: 2em;
            justify-content: space-between;
        }
    }

    .library__item_video {
        .video {
            position: relative;
        }

        .info__label {
            span {
                &:last-child {
                    font-size: 0.875em;
                    font-family: $main_font_family;
                    @media (min-width: 768px) {
                        font-size: 1em;
                    }
                }
            }
        }
    }

    .video {
        &__play {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 4.5em;
            height: 4.5em;
            border-radius: 100%;

            background: #F2EEE8;
            border: 0.0625em solid $color_info;
            color: $color_info;
            cursor: pointer;

            font-size: 0.8056em;
            @media (min-width: 768px) {
                font-size: 1em;
            }

            &:after {
                content: '\e90c';
                font-family: $icon_font_famaly;

            }
        }

        &__label {
            display: none;
            @media (min-width: 768px) {
                display: block;
                text-transform: uppercase;
                color: $btn_color;
                font-size: 1.125em;
                font-weight: 700;
                margin-left: 0.89em;
            }
        }
    }

    .info {
        display: flex;
        align-items: center;

        &__img {
            flex: none;
            width: 4.5em;
            height: 4.5em;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 1em;

            font-size: 0.8056em;
            @media (min-width: 768px) {
                font-size: 1em;
            }

        }

        &__label {

            display: flex;
            flex-direction: column;

            span {
                font-size: 1em;
                @media (min-width: 768px) {
                    font-size: 1.125em;
                }

                &:first-child {
                    text-transform: uppercase;
                    color: $btn_color;
                    font-weight: 700;
                }

                &:last-child {
                    margin-top: 0.375em;
                    font-family: $second_font_family;
                }
            }
        }

    }

    &__genre {
        margin-top: 1.5em;
        @media (min-width: 768px) {
            margin-top: 4.25em;
        }

        .cat-list {
            margin: 0;
            padding: 0;
            list-style: none;

            display: flex;

            @media (max-width: 767px) {
                position: relative;
                overflow-x: auto;
                overflow-y: hidden;
                padding-bottom: 0.75em;
            }

            @media (min-width: 768px) {
                border-bottom: 0.0625em solid #B7ADA2;

            }
        }

        .cat-item {
            width: fit-content;
            flex: none;

            @media (max-width: 1365px) {
                margin-right: 1em;

                &:last-child {
                    margin-right: 0;
                    padding-right: 0.0625em;
                }
            }

            margin-right: 3.25em;

            &:last-child {
                margin-right: 0;
            }

            a {
                display: inline-block;
                position: relative;
                text-transform: uppercase;
                color: #B7ADA2;
                font-weight: 800;
                text-decoration: none;

                font-size: 0.8em;
                @media (min-width: 768px) {
                    font-size: 1em;
                    padding-bottom: 1.5em;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -0.0625em;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;

                        border-bottom: 0.0625em solid $btn_color;

                        transition: 0.3s;

                    }
                }

            }

            &.current-cat,
            &:hover {
                a {
                    color: $btn_color;
                    @media (min-width: 768px) {
                        &:after {

                            width: 100%;
                        }

                    }

                }
            }

        }
    }
}
