.question {
    &_feedback {
        @media (min-width: 768px) {
            margin-top: -3.875em;
        }

        .section__title {
            @media (min-width: 768px) {
                padding-top: 5.5em;

            }
        }
    }

    &__content {
        position: relative;
    }

    &__caption {
        @media (min-width: 768px) {
            width: 33.75em;
        }
    }

    &__form {
        margin-top: 1.25em;

        @media (min-width: 768px) {
            margin-top: 2.625em;
            padding-bottom: 1.75em;

            width: 28.125em;
        }
    }

    &__label {
        margin-top: 1.5em;
        font-size: 0.875em;
        @media (min-width: 768px) {
            margin-top: 2.25em;
            font-size: 1em;
        }
    }

    &__img {
        @media (min-width: 768px) {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 70.75em;

        }
    }

}
