.audio {
    &__wrap {
        background: #F2EEE8;
        border: 1px solid #D1CAC2;
        border-radius: 1.25em;
    }

    &__content {
        display: flex;
        align-items: center;
        padding-right: 1.5em;
    }

    &__img {

        width: 9.25em;
        height: 9.25em;
        border-radius: 1.25em;
        overflow: hidden;
        margin-right: 1.5em;
        flex: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__info {
        flex-grow: 1;
    }

    &__name {
        letter-spacing: -0.02em;
        font-size: 1.5em;
        color: $color_info;
        width: 13em;
        min-height: 2.4em;
    }

    &__control {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1em;
    }

    &__toggle {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 2.5em;
        height: 2.5em;
        margin-right: 0.75em;

        background: #FCF9F3;
        border: 0.0625em solid $color_info;

        border-radius: 100%;
        cursor: pointer;

        &:after {
            display: inline-block;
            content: '\e90c';
            font-family: $icon_font_famaly;
            line-height: 1;
            color: $color_info;
        }

        &.active {
            &:after {
                content: '\e916';

            }
        }
    }

    &__line {
        flex-grow: 1;
        height: 0.25em;
        border-radius: 6em;
        background-color: rgba(#ACA092, 0.4);
        overflow: hidden;

        &_bg {
            border-radius: 6em;
            height: 100%;
            background-color: $color_info;
        }
    }

    &__time {
        color: #9F9383;
        font-family: 'Montserrat';
        font-size: 0.875em;
        margin-left: 0.5em;
    }

    &__close {
        display: none;

        &:before {
            content: '\e914';
            font-family: $icon_font_famaly;
            font-size: 1.5em;
            font-weight: bold;
            color: $color_info;
            cursor: pointer;
        }
    }

    &.bottom {
        position: fixed;
        z-index: 1;
        // bottom: 1.25em;
        // left: 50%;
        // transform: translateX(-50%);

        .audio__wrap {
            display: flex;
            align-items: center;

            width: 117.5em;
            padding: 1.375em 4.375em 1.375em 43.75em;
            border: 0.125em solid $btn_color;
        }

        .audio__content {
            width: 100%;
            padding-right: 0;
        }

        .audio__img {
            width: 6.875em;
            height: 6.875em;
        }

        .audio__name {
            width: 100%;
            min-height: auto;
        }

        .audio__control {
            width: 25.875em;
        }

        .audio__close {
            display: block;
        }

        -webkit-animation-name: showAudio;
        animation-name: showAudio;
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}

@keyframes showAudio {
    0% {
        bottom: 1.25em;
        left: 50%;
        transform: translate(-50%, 14em);
    }

    100% {
        bottom: 1.25em;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
