.breadcrumbs {
	padding-top: 1em;
	padding-bottom: 2em;

	font-size: 0.75em;
	@media (min-width: 768px) {
		font-size: 1em;
		padding-top: 3.125em;
		padding-bottom: 2.375em;
	}

	.aioseo-breadcrumbs {
		a,
		span {
			letter-spacing: 0.02em;
		}

		span {
			font-size: 1em;
			color: $btn_color;
		}

		a {
			text-decoration: none;
			font-size: 1em;
			font-weight: 400;
			font-style: normal;
			color: #9F9383;

		}

		.aioseo-breadcrumb-separator {
			margin-left: 0.5em;
			margin-right: 0.7em;
			color: #9F9383;
		}
	}

}
