// Style for button and pseudo button for input and link

.btn {
	display: inline-block;

	border: 0.125em solid;
	border-radius: 6.25em;

	outline: none;
	max-width: 100%;

	font-family: $main_font_family;
	font-size: 1em;
	font-weight: 800;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;

	color: $btn_color;
	background-color: #F4F1EA;
	border-color: $btn_color;

	cursor: pointer;
	transition: 0.3s;

	padding: 0.844em 1.115em;

	@media (min-width: 768px) {
		padding: 1.219em 2.143em;
	}

	span {

		font-size: 1em;

		&:after {
			content: '\e90d';
			font-family: $icon_font_famaly;
			margin-left: 0.625em;
		}
	}

	&:hover {
		background-color: $color_white;
	}

	&:active {
		background-color: #F4F1EA;
	}

	&:disabled {
		// color: red;
		// cursor: not-allowed;
		// pointer-events: none;
	}

	&_reverse {
		background-color: $color_info;
		color: #E8E3DD;

		&:hover {
			background-color: $btn_color;
		}
	}

	&_sm {
		@media (min-width: 768px) {
			padding: 1.094em 2.143em;
		}
	}

}
