/* Header
 ----------------------------------------------------------------------------- */
.header {
	padding: 1.25em 0;

	&__row {
		@extend .container_center;
		padding-left: 1.5em;

		display: flex;
		justify-content: space-between;
		align-items: center;

		background-color: $color_bg_info;
		color: $color_primary;
		border-radius: 6.25em;
	}

	&__col {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:nth-child(2) {
			@media (min-width: 768px) {
				width: 29em;
			}
		}

		&:nth-child(3) {
			@media (min-width: 768px) {
				width: 26.25em;
			}
		}
	}

	&__nav {
		position: fixed;
		top: -100vh;
		left: 0;
		width: 100vw;
		height: 100vh;

		z-index: 10;

		display: flex;
		align-items: center;
		justify-content: center;

		background-color: $color_bg_info;
		transition: 0.3s;

		&.active {
			top: 0;
		}

		.navbar {
			&__close {
				position: absolute;
				top: 2.5em;
				right: 2.5em;

				display: flex;
				align-items: center;
				justify-content: center;
				width: 2.5em;
				height: 2.5em;
				cursor: pointer;
				color: $color_bg_primary;
				transition: 0.3s;

				&:after {
					content: '\e914';
					font-family: $icon_font_famaly;
					font-size: 1.5em;
				}

				&:hover {
					color: $color_white;
				}
			}
		}

		.menu {
			margin: 0;
			padding: 0;
			list-style: none;

			&-item {
				letter-spacing: -0.02em;
				text-align: center;
				margin-bottom: 1.125em;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					position: relative;
					font-size: 3em;
					font-weight: 500;
					color: $color_bg_primary;
					text-decoration: none;
					font-family: $main_font_family;

					&:after {
						content: '';
						position: absolute;
						display: inline-block;
						width: 0;
						left: 50%;
						bottom: 0;
						transform: translateX(-50%);

						border-bottom: 1px solid;
						border-color: inherit;
						transition: width 0.3s;
					}
				}

				&.current-menu-item,
				&:hover {
					a {
						&:after {
							width: 100%;

						}
					}
				}
			}

		}
	}

	.toggle {
		text-transform: uppercase;
		font-size: 1.125em;
		font-weight: 800;

		cursor: pointer;
		transition: 0.3s;

		&:before {
			content: '\e915';
			font-family: $icon_font_famaly;
			font-size: 0.875em;
			margin-right: 0.64em;
		}

		&:hover {
			color: $color_white;
		}
	}

	.language {
		display: flex;

		text-transform: uppercase;
		font-size: 1.125em;
		font-weight: 700;

		&__label {}

		&__list {
			position: relative;

			&:after {
				content: '\e90a';
				font-family: $icon_font_famaly;

				position: absolute;

				top: 50%;
				transform: translateY(-50%)scale(1);
				right: -3em;
				font-size: 0.39em;
			}
		}

		&__item {
			// &:hover {
			// 	color: $color_white;
			// }
		}
	}

	.search {
		&__link {
			text-transform: uppercase;
			font-size: 1.125em;
			font-weight: 700;
			text-decoration: none;
			color: $color_primary;

			&:before {
				content: '\e90f';
				font-family: $icon_font_famaly;
				margin-right: 0.555556em;
			}

			&:hover {
				color: $color_white;
			}
		}
	}

	.btn {
		padding: 1.469em 2em;
	}

}

.nav-open {
	overflow: hidden;
}
