/* Header
 ----------------------------------------------------------------------------- */
.header {

	padding-top: 0.625em;
	padding-bottom: 0.625em;
	@media (min-width: 768px) {
		padding-top: 1.25em;
		padding-bottom: 1.25em;
		position: relative;
		z-index: 10;
	}

	&__content {
		@extend .container_center;
		position: relative;
	}

	&__row {
		position: relative;
		z-index: 1;

		display: flex;
		justify-content: space-between;
		align-items: center;

		background-color: $color_bg_info;
		color: $color_primary;
		border-radius: 6.25em;

		padding: 0.882em 0.625em;

		@media (min-width: 768px) {
			padding: 0 0 0 1.5em;
		}
	}

	&__col {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:nth-child(2) {
			@media (min-width: 768px) {
				width: 29em;
			}
		}

		&:nth-child(3) {
			@media (min-width: 768px) {
				width: 26.25em;
			}
		}
	}

	&__nav {
		position: absolute;

		top: -120vh;
		left: 50%;
		transform: translateX(-50%);
		width: 18.75em;
		height: auto;
		padding: 2.75em 0;
		border-radius: 1.25em;

		z-index: 10;

		background-color: $color_bg_info;
		transition: 0.3s;

		@media (min-width: 768px) {
			position: fixed;
			left: 0;
			width: 100vw;
			height: 100vh;
			transform: none;
			padding: 0;
			border-radius: 0;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		&.active {
			top: 3.05em;
			@media (min-width: 768px) {
				top: 0;
			}
		}

		.navbar {
			&__row {

				@media (max-width: 767px) {
					text-align: center;

					&:first-child {
						padding-bottom: 2.75em;
					}

					&:nth-child(2),
					&:nth-child(3) {
						padding: 0.688em 1.25em;
					}
					border-bottom: 0.0625em solid #E8E3DD;

					&:last-child {
						padding-top: 2.75em;
						border-bottom: 0;
					}

				}

			}

			@media (min-width: 768px) {
				&__close {
					position: absolute;
					top: 2.5em;
					right: 2.5em;

					display: flex;
					align-items: center;
					justify-content: center;
					width: 2.5em;
					height: 2.5em;
					cursor: pointer;
					color: $color_bg_primary;
					transition: 0.3s;

					&:after {
						content: '\e914';
						font-family: $icon_font_famaly;
						font-size: 1.5em;
					}

					&:hover {
						color: $color_white;
					}
				}
			}
		}

		.menu {
			// border: 1px solid #fff;
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 0.417em;
			@media (min-width: 768px) {
				font-size: 1em;
			}

			&-item {
				letter-spacing: -0.02em;
				text-align: center;
				margin-bottom: 1.125em;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					position: relative;
					font-size: 3em;
					font-weight: 500;
					color: $color_bg_primary;
					text-decoration: none;
					font-family: $main_font_family;

					&:after {
						content: '';
						position: absolute;
						display: inline-block;
						width: 0;
						left: 50%;
						bottom: 0;
						transform: translateX(-50%);

						border-bottom: 1px solid;
						border-color: inherit;
						transition: width 0.3s;
					}
				}

				&.current-menu-item,
				&:hover {
					a {
						&:after {
							width: 100%;

						}
					}
				}
			}

		}
	}

	.toggle {
		text-transform: uppercase;
		font-weight: 800;

		cursor: pointer;
		transition: 0.3s;

		font-size: 0.875em;

		@media (min-width: 768px) {
			font-size: 1.125em;
		}

		&:before {
			content: '\e915';
			font-family: $icon_font_famaly;
			font-size: 0.875em;
			margin-right: 0.64em;
		}

		&:hover {
			color: $color_white;
		}

		&.active {
			&:before {
				content: '\e914';

			}
		}
	}

	.btn {
		@media (min-width: 768px) {
			padding: 1.469em 2em;
		}
	}

}

.nav-open {
	overflow: hidden;
}
