.messenger {
    margin-top: 10em;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 0.75em;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.625em;
        height: 4.625em;
        border-radius: 100%;
        border: 0.0625em solid $color_bg_primary;
        background-color: #F2EEE8;
        text-decoration: none;
        color: $color_bg_info;

        i {
            font-size: 1.625em;
        }

        &:hover {
            background-color: $color_white;
        }

    }

}
