.tabs__wrapper {}

.tabs__content {
    margin-top: 1em;
    @media (min-width: 768px) {
        margin-top: 2em;

    }
}

.tabs {
    display: flex;
}

.tab {
    position: relative;
    letter-spacing: -0.02em;
    color: #ACA092;
    padding-bottom: 0.69em;
    cursor: pointer;
    transition: 0.3s;

    margin-right: 1.25em;

    &:last-child {
        margin-right: 0;
    }

    font-size: 1.125em;
    @media (min-width: 768px) {
        font-size: 2em;

    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        border-bottom: 0.0625em solid $btn_color;
        opacity: 0;
        transition: 0.3s;

    }

    &.active {
        color: $btn_color;

        &:before {
            content: '';
            opacity: 1;
        }
    }

    &:hover {
        color: $btn_color;
    }
}
