extends ../../layout/layout.pug

block variable
    -var path = '../../';


block content
    // begin office
    section#office.office.section
        .container_center.container_center_sm
            .office__wrap
                .office__aside
                    .aside

                .office__content


    // end office

    // begin content
    section#content.content.section
        .container_center.container_center_sm
            .content__wrap

                .content__aside
                    .aside
                        .aside__list
                            //- begin aside item
                            .aside__item
                                .account
                                    .account__head
                                        .account__img.img
                                            img(src="../../img/account.jpg", alt="alt")
                                        .account__info
                                            .account__name Aleksandra Holodnaya
                                            .account__edit
                                                i.icon_edit
                                                a(href="#") Edit Profile


                                    nav.account__nav
                                        ul.menu
                                            li.menu-item.current-menu-item
                                                a(href="#") My information
                                            li.menu-item
                                                a(href="#") Payment History
                                            li.menu-item
                                                a(href="#") Notifications
                                            li.menu-item
                                                a(href="#") Log out



                            //- begin aside item    
                            .aside__item
                                .donations

                            //- end aside item







                .content__main



    // end content
