extends ../../layout/layout.pug

block variable
    -var path = '../../';


block content
    // begin content
    section#content.content.section
        .container_center.container_center_sm
            .content__wrap

                .content__aside.pt_0
                    .aside
                        .aside__list
                            include ../../includes/account.pug
                            include ../../includes/donations.pug

                .content__main

                    // begin breadcrumbs
                    .breadcrumbs
                        .aioseo-breadcrumbs
                            span.aioseo-breadcrumb
                                a(href="#") Main 

                            span.aioseo-breadcrumb-separator &middot;

                            span.aioseo-breadcrumb Personal account

                    // end breadcrumbs

                    h1.section__title.section__title_sm
                        span Payment History

                    include ../../includes/paymentHistory.pug


    // end content
