extends ../../layout/layout.pug

block variable
    -var path = '../../';
    -var map = true;

block content
    // begin breadcrumbs
    section#breadcrumbs.breadcrumbs.section
        .container_center.container_center_sm
            .aioseo-breadcrumbs
                span.aioseo-breadcrumb
                    a(href="#") Main 

                span.aioseo-breadcrumb-separator &middot;

                span.aioseo-breadcrumb Contact

    // end breadcrumbs

    // begin contacts
    section#contacts.contacts.section.pt_0
        .container_center.container_center_sm
            .contacts__wrap
                .contacts__content

                    h1.section__title
                        span Stay in Touch

                    .contacts__list

                        .contacts__item
                            .contacts__icon
                                i.icon_location
                            .contacts__info
                                .contacts__label Address
                                span Proves that the framework and place of personnel training allows you to 

                        a.contacts__item(href="mailto:andardz-anhas@gmail.com")
                            .contacts__icon
                                i.icon_email
                            .contacts__info
                                .contacts__label E-mail
                                span Andardz-Anhas@gmail.com



                        a.contacts__item(href="tel:(0984) 234 234")
                            .contacts__icon
                                i.icon_phone
                            .contacts__info
                                .contacts__label Phone
                                span (0984) 234 234

                    .contacts__btn
                        a.btn.btn_sm.btn_reverse(href="#")
                            span Contact us




                .contacts__map
                    .map#map(data-x="55.658586" data-y="37.471425")


    // end contacts
