extends ../../layout/layout.pug

block variable
    -var path = '../../';


block content

    // begin breadcrumbs
    section#breadcrumbs.breadcrumbs.section
        .container_center.container_center_sm
            .aioseo-breadcrumbs
                span.aioseo-breadcrumb
                    a(href="#") Main 

                span.aioseo-breadcrumb-separator &middot;

                span.aioseo-breadcrumb Feedback

    // end breadcrumbs

    // begin question
    section#question.question.question_feedback.section.pt_0
        .container_center.container_center_sm
            .question__content

                h1.section__title 
                    span Write to support

                .question__form
                    form.form.form_sm(action="send.php")
                        input(type="hidden" name="subject" value="форма в футоре")
                        input(type="hidden" name="notspam" value="")

                        .form__row
                            input(type="text" placeholder="Name")

                        .form__row
                            input(type="email" placeholder="E-mail")

                        .form__row
                            textarea(type="text" placeholder="Еnter your message")

                        .form__row.form__row_group

                            label.form__check
                                input(type="checkbox" checked="checked")
                                span I confirm my agreement with the rules for the provision of <a href="#" target="_blank">information services</a>

                            button.btn.btn_reverse(type="submit")
                                span Send



                .question__img.img.br
                    img(src="../../img/feedback.webp", alt="alt")


    // end question
