header.header
    .header__row
        .header__col
            .logo
                a.logo__link(href="/") Andardz-Anhas

        .header__col
            .toggle Menu

            .language
                .language__label Language:&nbsp; 
                .language__list
                    .language__item Eng
                    //- .language__item Ru

        .header__col
            .search
                a.search__link(href="#") Search

            .registration
                a.btn(href="#")
                    span registration

        .header__nav
            .navbar__close
            nav.navbar#navbar
                ul.menu
                    li.menu-item.current-menu-item
                        a(href="#") Fundraising
                    each item in ['What we do', 'Publications', 'Library', 'News', 'Write to us', 'Faq', 'Contact', ]
                        li.menu-item
                            a(href="#")=item
