extends layout/layout.pug

block content
    // begin projectNaw
    section#projectNaw.projectNaw.section
        .container_center
            h2.section__title
                span Навигация по проекту
            ul(style="font-size:1.25em;")
                li
                    a(href="../pages/home/") Главная 
                li
                    a(href="../pages/news/") Новости (архив) 
                li
                    a(href="../pages/library/") Библиотека (архив) 
                li
                    a(href="../pages/fundraising/") Cбор средств (архив) 
                li
                    a(href="../pages/faq/") faq (архив) 
                li
                    a(href="../pages/feedback/") feedback
                li
                    a(href="../pages/searchpage/") searchpage
                li
                    a(href="../pages/registration/") Sign in
                li
                    a(href="../pages/registration2/") Sign up
                li
                    a(href="../pages/office/") office 1 ( My personal information )
                li
                    a(href="../pages/office2") office 2 ( Payment History )
                li
                    a(href="../pages/office3/") office 3 ( Notifications )
                li
                    a(href="../pages/contacts/") contacts

    // end projectNaw
