extends layout/layout.pug

block content
    // begin projectNaw
    section#projectNaw.projectNaw.section
        .container_center
            h2.section__title
                span Навигация по проекту
            ul(style="font-size:1.25em;")
                li
                    a(href="../pages/home/") Главная 
                li
                    a(href="../pages/news/") Новости (архив) 
                li
                    a(href="../pages/library/") Библиотека (архив) 

    // end projectNaw
