extends ../../layout/layout.pug

block variable
    -var path = '../../';


block content
    // begin content
    section#content.content.section
        .container_center.container_center_sm
            .content__wrap

                .content__aside
                    .aside
                        .aside__list
                            //- begin info
                            .aside__info
                                .aside__cat Art and culture
                                .aside__date 20.04.2023
                            //- end info

                .content__main

                    // begin breadcrumbs
                    .breadcrumbs
                        .aioseo-breadcrumbs
                            span.aioseo-breadcrumb
                                a(href="#") Main 
                            span.aioseo-breadcrumb-separator &middot;
                            span.aioseo-breadcrumb News
                    // end breadcrumbs

                    h1.section__title.section__title_sm
                        span Sergey Parajanov Museum to present new projects in 2023

                    .content__content
                        .content__img
                            img(src="../../img/content_3.jpg", alt="alt")
                        p Равным образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке соответствующий условий активизации. Товарищи! дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке форм развития. Таким образом сложившаяся структура организации требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
                        p Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение новых предложений. Равным образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание форм развития. Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.

                        p Таким образом начало повседневной работы по формированию позиции требуют от нас анализа систем массового участия. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.

                    .content__nav
                        a.btn.btn_sm.btn_prev(href="#")
                            span Previous post
                        a.btn.btn_sm.btn_reverse(href="#")
                            span Next post


    // end content
